<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
<head>
    <meta charset="UTF-8"/>
    <title>Study Abroad Bristol</title>
    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="styles/index.css"/>

</head>
    <body>
        
        <!--Navigation Bar-->  
        <%- include('partials/navbar') %>
        
        <!--Main Content-->  
        <main>
            <section id="marketplace" class="container">
                <% if(success_message){ %>
                <div class="alert alert-success"><%= success_message %></div>
                <% }%>

                <!-- Description Section -->
                <section id="market_header" class="row">
                    <div class="col-sm-12 text-center">
                        <h2>Student Marketplace</h2>
                        <p>
                        Welcome to Study Abroad Bristol's Marketplace. Hoping to save some money on anything from bedding to dishware, clothing to electronics? All of our sellers are other study abroad students. At the end of your term here at UoB? Don't let your barely used things go to waste. Make some money by reselling your used items here to others who can give them a good home.
                        </p>
                    </div>
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a data-toggle="tab" href="#browse">Browse Items</a></li>
                        <li><a data-toggle="tab" href="#sell" <% if(browseResults){ %>onclick="document.getElementById('browseResults').style.display = 'none';" <% } %>>Sell Item</a></li>
                    </ul>    
                </section>

                <!-- Main section -->
                        
                <section id="search" class="row tab-content">
                    <!-- Browse Item Section -->
                    <section id="browse" class="tab-pane fade in active jumbotron">
                        <h2>Browse Items</h2>
                        <form action="/find_item" method="post">
                            <div class="form-group row">
                                <select class="custom-select col-sm-5" name="item_category">
                                    <option value="" selected>Search by Category</option>
                                    <option name="item_category" value="clothing">Clothing</option>
                                    <option name="item_category" value="bedding">Bedding</option>
                                    <option name="item_category" value="furniture">Furniture</option>
                                    <option name="item_category" value="kitchenware">Kitchenware</option>
                                    <option name="item_category" value="electronics">Electronics</option>
                                    <option name="item_category" value="other">Other</option>
                                </select>
                                <select class="custom-select col-sm-5" name="item_price">
                                    <option value="" selected>Search by Price</option>
                                    <option name="item_price" value="£">£</option>
                                    <option name="item_price" value="££">££</option>
                                    <option name="item_price" value="£££">£££</option>
                                    <option name="item_price" value="££££">££££</option>
                                </select>
                                <div class="text-center">
                                    <button class="btn btn-primary">SEARCH</button>
                                </div>
                            </div>
                        </form>
                    </section>
                   
                    <%if(browse){ %>
                        <section id="browseResults" class="row">
                                <h2>Results</h2>
                                <% if(browseResults){ %>
                                    <% for(var i=browseResults.length-1; i >= 0; i--) { 
                                        if(!user){
                                    %>
                                        <!-- Only display if not your own item -->

                                        <div class="well well-sm">
                                            <h4>
                                            <%= browseResults[i].itemName %>
                                            </h4>
                                            <p>Asking Price: £<%= browseResults[i].price %></p>
                                            <p>Description: <%= browseResults[i].description %></p>

                                            <p>Login to Make Inquiry</p>
                                            <a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                                            <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                                        </div>
                                    <%}else{
                                        if(user.id != browseResults[i].seller){%>
                                        <div class="well well-sm">
                                            <h4>
                                            <%= browseResults[i].itemName %>
                                            </h4>
                                            <p>Asking Price: £<%= browseResults[i].price %></p>
                                            <p>Description: <%= browseResults[i].description %></p>
                                            <!-- <a href="/makeInquiry?owner=<%= browseResults[i].seller %>&itemId=<%= browseResults[i].id %>">Make Inquiry</a> -->
                                            <button onclick="getConfirmation('<%=browseResults[i].seller%>', '<%=browseResults[i].itemName%>', '<%=user.id%>');">Make Inquiry</button>
                                        </div>
                                    <%}
                                    
                                }}}else{%>
                                    <p>No items matched your search result.</p>   
                                <%}%>
                        </section>
                    <%}%>

                    <script type="text/javascript">
                        function getConfirmation(sellerId, itemName, buyerId){
                            var message = 'Study Abroad Bristol can share your email with this item\'s owner to coordinate future inquiries. Do you want Study Abroad Bristol to share your email?';
                            if(window.confirm(message)){
                                var xmlHttp = new XMLHttpRequest();
                                var path = '/makeInquiry?owner=';
                                path += sellerId;
                                path += '&itemName=';
                                path += itemName;
                                path += '&buyer=';
                                path += buyerId;
                                xmlHttp.open( "GET", path, true); // false for synchronous request
                                xmlHttp.send( null );
                                console.log('True');
                            }else{
                                console.log('False');
                            }
                        }
                    </script>
                        
                    <!-- Sell Item Section -->
                    <section id="sell" class="tab-pane fade jumbotron">
                        <h2>Sell</h2>
                            <% if(user){ %>
                            <form action="/sell_item" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <h3>Item Name</h3>
                                        <input type="text" name="itemName" required="required"/>
                                    </div>
                                    <div class="col-sm-4">
                                        <h3>Asking Price (£)</h3>
                                        <input type="number" name="price" min="0.00" step="0.01" required="required"/>
                                    </div>
                                    <div class="col-sm-4">
                                        <h3>Category</h3>
                                        <select class="custom-select col-sm-6" name="item_category">
                                            <option name="item_category" value="clothing">Clothing</option>
                                            <option name="item_category" value="bedding">Bedding</option>
                                            <option name="item_category" value="furniture">Furniture</option>
                                            <option name="item_category" value="kitchenware">Kitchenware</option>
                                            <option name="item_category" value="electronics">Electronics</option>
                                            <option name="item_category" value="other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <h3>Description</h3>
                                        <textarea name="description" rows="10" cols="100" maxlength="255" required="required">Please briefly describe your item. 
                                        </textarea>
                                    </div>
                                </div>
                                <!-- <input type="hidden" name="seller" value="<%=user.id%>"/> -->
                                <input class="btn btn-primary" type="submit" name="submit"/>
                            </form>
                            <% }else{ %>
                                <p>Please login to sell an item.</p>
                                <a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                                <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                            <% } %>
                        </section>
                    </div>
                
            </section>
            
        </main>
        <%- include('partials/footer') %>
    </body>

    <!-- Bootstrap: jQuery library --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap: Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
    
</html>