<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
<head>
    <meta charset="UTF-8"/>
    <title>Study Abroad Bristol</title>
    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="styles/index.css"/>

</head>
    <body>
        
        <!--Navigation Bar-->  
        <%- include('partials/navbar') %>
        
        <!--Main Content-->  
        <main>
            <div class="container">
                
                <% if(question){ %>
                    <h3>
                        <%= question.title %>
                    </h3>
                    <div class="text-right">
                        <a href="/delete_question?id=<%=question.id%>" class="btn btn-info" role="button">Delete Question</a>
                    </div>
                    <p>Author: <%= question.author %></p>
                    <div class="well well-sm">
                        <h4><%= question.description %></h4>
                    </div>
                <%}else{%>
                    <p>No questions matches this id.</p>
                <%}%>

                
                <h4>Responses</h4>
                <% if(responses){ %>
                    <% for(var i=0; i < responses.length; i++) { %>
                        <div class="well well-sm">
                            <p>Author: <%= responses[i].author %></p>
                            <p><%= responses[i].description %></p>
                        </div>
                    <%}%>
                <%}else{%>
                    <p>No responses posted to this question.</p>
                <%}%>

                <% if(user){ %>
                    <form action="/post_response" method="post">
                        <h4>Post A Response</h4>
                        <textarea name="description" rows="10" cols="100" maxlength="255" required="required" placeholder="Type your response here."></textarea>
                        <input type="hidden" name="author" value="<%= user.id %>"/>
                        <input type="hidden" name="questionId" value="<%= question.id %>"/>
                        <input type="submit" name="submit"/>
                    </form>
                <%}else{%>
                    <a href="/login" class="btn btn-info" role="button">Login to Post a Response</a>
                <%}%>

                

            </div>

        </main>
        <footer>
            <p>Jack Allison and Cameron Haseyama</p>
        </footer>
    </body>

    <!-- Bootstrap: jQuery library --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap: Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
    
</html>
