<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
<head>
    <meta charset="UTF-8"/>
    <title>Study Abroad Bristol</title>
    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>

</head>
    <body>
        <!--Website Banner-->
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1>Study Abroad Bristol</h1>    
                    </div>
                </div>
            </div>
        </header>
        
        <!--Navigation Bar-->  
        <%- include('partials/navbar') %>

        
        <!--Main Content-->  
        <main>
            <h1>Welcome <%= fname %></h1>
            
            <button action='logout' name="logOut">Log Out</button>

            <h2>Notifications:</h2>
            
            <h2>Your Items For Sale:</h2>
                
                    <section style="overflow-y: scroll; height:200px;">
                    
                        <% if(myItems){ %>
                            <ul>
                                <% for(var i=myItems.length-1; i >= 0; i--) { %>
                                    <h4>
                                        <%= myItems[i].itemName %>
                                    </h4>
                                    <li>Category: <%= myItems[i].category %></li>
                                    <li>Asking Price: £<%= myItems[i].price %></li>
                                    <li>Description: <%= myItems[i].description %></li>
                                    <li>Delete Item: 
                                        <form action="/delete_items" method="post">
                                            <input type="hidden" name="delete" id="delete" value="<%=myItems[i].id%>">
                                            <button type="submit" name="Manage Items">Delete Item</button>
                                        </form>
                                    </li>
                                <%
                                    
                                }%>
                            </ul>
                        <%}else{%>
                            <p>You Have No Items For Sale</p>   
                        <%}%>
                        
                    </section>
                <button onclick="print_selected()">Click Me</button>
                

            <h2>Your Questions:</h2>
            
        </main>
        <footer>
            <p>Jack Allison and Cameron Haseyama</p>
        </footer>
    </body>

    <!-- Bootstrap: jQuery library --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap: Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
    
</html>
