<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
<head>
    <meta charset="UTF-8"/>
    <title>Study Abroad Bristol</title>
    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="styles/index.css"/>

    <!-- Bootstrap: jQuery library --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer="defer"></script>
    <!-- Bootstrap: Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" defer="defer"></script>
</head>
    <body>    
        <!--Navigation Bar-->  
        <%- include('partials/navbar') %>

        
        <!--Main Content-->  
        <main class="container">
            <% if(success_message){ %>
                <div class="alert alert-success"><%= success_message %></div>
            <% }%>
            <div class="row">
                <section id="Notifications" class="well col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3>Notifications:</h3>
                        <div class="overflow">
                        <% if(notifications){ console.log(notifications)%> 
                            <% for(var i=0; i < notifications.length; i++) { %>
                                <div class="well well-sm">
                                    <h4><%= notifications[i].msg %></h4>
                                    <form action="/deleteNotification" method="post">
                                        <input type="hidden" name="delete" value="<%= notifications[i].id%>"/>
                                        <p>Delete Notification: <input type="submit" class= "btn btn-danger"name=""/></p>
                                    </form>
                                </div>
                            <%}
                        }else{%>
                            <p>No Notifications</p>
                        <%}%> 
                        </div>    
                </section>
            </div>

            <div class="row">
                
                <section id="myItems" class="well well-sm col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h3>Items For Sale:</h3>
                    <div class="overflow">
                        <% if(myItems){ %> 
                            <% for(var i=0; i < myItems.length; i++) { %>
                                <div class="well well-sm">
                                    <h4><%= myItems[i].itemName %></h4>
                                    <p>Asking Price: £<%= myItems[i].price %></p>
                                    <p>Description: <%= myItems[i].description %></p>
                                    <form action="/delete_items" method="post">
                                        <input type="hidden" name="delete" value="<%= myItems[i].id%>"/>
                                        <p>Delete Item: <input type="submit" class="btn btn-danger" name=""/></p>
                                    </form>
                                </div>
                            <%}
                        }else{%>
                            <p>No Items for Sale</p>
                        <%}%>     
                    </div>
                </section>
                <section id="myQuestions" class=" well well-sm col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h3>Your Questions:</h3>
                    <div class="overflow">
                        <% if(myQuestions){ %> 
                            <% for(var i=0; i < myQuestions.length; i++) { %>
                                <div class="well well-sm">
                                    <h4><%= myQuestions[i].title %></h4>
                                    <p>Description: <%= myQuestions[i].description %></p>
                                    <form action="/fetch_by_id" method="get">
                                        <input type="hidden" name="id" value="<%= myQuestions[i].id%>"/>
                                        <p>View Responses: <input type="submit" class="btn btn-info" name=""/></p>
                                    </form>
                                </div>
                            <%}
                        }else{%>
                            <p>No Questions Currently Posted</p>
                        <%}%>
                    </div>
                </section>
            </div>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>
