<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
<head>
    <meta charset="UTF-8"/>
    <title>Study Abroad Bristol</title>
    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="styles/index.css"/>

</head>
    <body>
        
        <!--Navigation Bar-->  
        <%- include('partials/navbar') %>
        
        <!--Main Content-->  
        <main>
            <div class="container">
                <div class="text-center">
                    <h2>Q&amp;A</h2>
                </div>

                <% if(user){ %>
                    <a href="/new_question" class="btn btn-info" role="button">Ask a Question</a>
                <%}else{%>
                    <a href="/login" class="btn btn-info" role="button">Login to Ask a Question</a>
                <%}%>


                <!-- Search By Category -->
                <form action='/fetch_by_category' method='post'>
                    <input type="text" name="category" id="category"></input>
                    <input type="submit"></input>
                </form>

                <button name='general_button' onclick='set_category("general")' value="general">General</button>
                <button name='supplies_button' onclick='set_category("supplies")' value="supplies">Supplies</button>
                <button name='academics_button' onclick='set_category("academics")' value="academics">Academics</button>
                <button name='travel_button' onclick='set_category("travel")' value="travel">Travel</button>

                <script type="text/javascript">
                    function set_category(category){
                        document.getElementById('category').value=category;
                    }
                </script>


                <section id="browseResults" class="row">
                    <h3>Results</h3>
                    <% if(browseResults){ %>
                        <% for(var i=browseResults.length-1; i >= 0; i--) { %>
                            <div class="well well-sm">
                                <p><span class="glyphicon glyphicon-user"></span><%= browseResults[i].fname %></p>
                                <h4><a href="/fetch_by_id?id=<%=browseResults[i].id%>">
                                <%= browseResults[i].title %>
                                </a></h4>
                                <p><%= browseResults[i].description %></p>
                            </div>
                        <%}%>
                    <%}else{%>
                        <p>No questions matched your search result.</p>
                    <%}%>
                </section>

            </div>

        </main>
        <%- include('partials/footer') %>
    </body>

    <!-- Bootstrap: jQuery library --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap: Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
    
</html>
